<a href="https://colab.research.google.com/github/Gioval315/BibliotecaSQL/blob/main/laboratorio_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aseguramiento de la Calidad de los Datos
1.	Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario y fecha de ingreso. Se requiere implementar algunos pasos de aseguramiento de la calidad de los datos, como la verificación de valores faltantes y la validación de formatos de datos.

-	Se requiere:
1.	Identificar y contar los valores faltantes en cada columna.
2.	Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos.
3.	Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

In [ ]:
import pandas as pd
import numpy as np

Trabajadores = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
    'Edad': [28, 34, None, 45, 38, 34],
    'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']})

print("Valores faltantes por columna:")
print(Trabajadores.isnull().sum())

Valores faltantes por columna:
Nombre           0
Edad             1
Salario          0
Fecha Ingreso    0
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

Trabajadores = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
    'Edad': [28, 34, None, 45, 38, 34],
    'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']})

def es_numerico(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

Trabajadores['Salario Valido'] = Trabajadores['Salario'].apply(es_numerico)

print("\n¿Los valores de la columna 'Salario' son numéricos?")
print(Trabajadores[['Salario', 'Salario Valido']])

¿Los valores de la columna 'Salario' son numéricos?
     Salario  Salario Valido
0       3000            True
1       4000            True
2  cinco mil           False
3       4500            True
4       4000            True
5       5000            True

In [ ]:
import pandas as pd
import numpy as np

Trabajadores = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
    'Edad': [28, 34, None, 45, 38, 34],
    'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']})

Trabajadores['Fecha Ingreso Estándar'] = pd.to_datetime(Trabajadores['Fecha Ingreso'], errors='coerce')

print("\nTrabajadores estandarizados:")
print(Trabajadores)

Trabajadores estandarizados:
  Nombre  Edad    Salario Fecha Ingreso Fecha Ingreso Estándar
0   Juan  28.0       3000    2021-01-15             2021-01-15
1    Ana  34.0       4000    2020/03/12                    NaT
2  Pedro   NaN  cinco mil    2022-07-01             2022-07-01
3  María  45.0       4500    2021/12/01                    NaT
4   Luis  38.0       4000    2021-05-20             2021-05-20
5    Ana  34.0       5000    2020-03-12             2020-03-12

2.	Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario, puesto de trabajo y fecha de ingreso. Se requiere implementar aseguramiento de la calidad de los datos, verificando la completitud de los datos, la validez de los salarios y la consistencia de las fechas de ingreso.


1.	Identificar y contar los valores faltantes en cada columna.
2.	Verificar el formato de la columna "Salario" para asegurarse de que todos los valores sean numéricos.
3.	Validar y estandarizar el formato de la columna "FechaIngreso" a YYYY-MM-DD.
4.	Verificar que no haya valores faltantes en la columna "Cargo".

In [1]:
import pandas as pd
import numpy as np

empleados = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
    'Edad': [28, None, 40, 45, 38, 34],
    'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
    'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
    'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']})

print("Valores faltantes por columna:")
print(empleados.isnull().sum())

Valores faltantes por columna:
Nombre          0
Edad            1
Salario         0
Cargo           1
FechaIngreso    1
dtype: int64

In [6]:
import pandas as pd
import numpy as np

empleados = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
    'Edad': [28, None, 40, 45, 38, 34],
    'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
    'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
    'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']})

def es_numerico(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

empleados['SalarioValido'] = empleados['Salario'].apply(es_numerico)
print("\nVerificación de la columna 'Salario':")
print(empleados[['Salario', 'SalarioValido']])

Verificación de la columna 'Salario':
      Salario  SalarioValido
0        3000           True
1        4000           True
2        4500           True
3  cuatro mil          False
4        5000           True
5        4000           True

In [11]:
import pandas as pd
import numpy as np

# Crear el DataFrame
empleados = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
    'Edad': [28, None, 40, 45, 38, 34],
    'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
    'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
    'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']})

def estandarizar_fecha(fecha):
    try:
        return pd.to_datetime(fecha, format='%Y-%m-%d', errors='coerce').strftime('%Y-%m-%d')
    except Exception:
        return None

empleados['FechaIngresoEstandarizada'] = empleados['FechaIngreso'].apply(estandarizar_fecha)

print("\nFechas estandarizadas:")
print(empleados[['FechaIngreso', 'FechaIngresoEstandarizada']])

Fechas estandarizadas:
  FechaIngreso FechaIngresoEstandarizada
0   2021-01-15                2021-01-15
1   2020/03/12                      None
2   2022-07-01                2022-07-01
3   2021/12/01                      None
4         None                      None
5   2020-03-12                2020-03-12

In [12]:
import pandas as pd
import numpy as np

empleados = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
    'Edad': [28, None, 40, 45, 38, 34],
    'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
    'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
    'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']})

print("\nValores faltantes en la columna 'Cargo':")
if empleados['Cargo'].isnull().sum() > 0:
    print(f"Hay {empleados['Cargo'].isnull().sum()} valores faltantes en la columna 'Cargo'.")
else:
    print("No hay valores faltantes en la columna 'Cargo'.")
print("\nDataFrame final:")
print(empleados)

Valores faltantes en la columna 'Cargo':
Hay 1 valores faltantes en la columna 'Cargo'.

DataFrame final:
  Nombre  Edad     Salario          Cargo FechaIngreso
0   Juan  28.0        3000       Analista   2021-01-15
1    Ana   NaN        4000        Gerente   2020/03/12
2  Pedro  40.0        4500  Desarrollador   2022-07-01
3  María  45.0  cuatro mil        Gerente   2021/12/01
4   Luis  38.0        5000       Analista         None
5  Carla  34.0        4000           None   2020-03-12

## Parte 2
1.	Se requiere validar los datos: Precios de Productos, se tiene una lista de productos con los respectivos precios y se necesita validar que ningún precio sea negativo o nulo.
Resultado esperado: Una tabla que muestra qué productos tienen precios incorrectos.

In [13]:
import pandas as pd
import numpy as np

productos = pd.DataFrame({
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
    'Precio': [150, -25, 100, None]})

productos['Precio Valido'] = productos['Precio'].apply(lambda x: x is not None and x >= 0)
precios_invalidos = productos[~productos['Precio Valido']]
print("Productos con precios inválidos:")
print(precios_invalidos[['Producto', 'Precio']])

Productos con precios inválidos:
     Producto  Precio
1  Producto B   -25.0
3  Producto D     NaN

2.	Se requiere validar los datos duplicados: Clientes en una Base de Datos, se tiene una lista de clientes donde algunos registros tienen el mismo ID y necesitas identificarlos.

-	Resultado esperado: Una tabla que contiene solo los clientes que tienen el mismo ID, facilitando su corrección.

In [14]:
import pandas as pd

clientes = pd.DataFrame({
    'ID Cliente': [1, 2, 3, 2, 4],
    'Nombre': ['Ana', 'Luis', 'María', 'Luis', 'Carlos']})

duplicados = clientes[clientes.duplicated(subset=['ID Cliente'], keep=False)]

print("Registros duplicados:")
print(duplicados)

Registros duplicados:
   ID Cliente Nombre
1           2   Luis
3           2   Luis

3.	Se requiere tener seguridad en los datos: Encriptación y Desencriptación de Datos Sensibles, se tiene un número de tarjeta de crédito que deseas encriptar para protegerlo y luego desencriptarlo para el uso.

-	Resultado esperado: Ver el número de tarjeta encriptado y luego desencriptado, demostrando cómo proteger la información sensible.

In [15]:
from cryptography.fernet import Fernet

clave = Fernet.generate_key()
fernet = Fernet(clave)

tarjeta_original = "1234-5678-9012-3456"
print("Número de tarjeta original:", tarjeta_original)

tarjeta_encriptada = fernet.encrypt(tarjeta_original.encode())
print("Número de tarjeta encriptado:", tarjeta_encriptada)

tarjeta_desencriptada = fernet.decrypt(tarjeta_encriptada).decode()
print("Número de tarjeta desencriptado:", tarjeta_desencriptada)

Número de tarjeta original: 1234-5678-9012-3456
Número de tarjeta encriptado: b'gAAAAABnO-jl-3Iq_uWwkzlse6EzsceOF5HpeJi8oaZNV6V3vKMF7oBhpNG3e8NTslstnrtJdndeJqxz5yLufCGwj0dkaA7uDHCqKmkK83CE4C1vgDWZe54='
Número de tarjeta desencriptado: 1234-5678-9012-3456