<a href="https://colab.research.google.com/github/Gioval315/BibliotecaSQL/blob/main/laboratorio_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aseguramiento de la Calidad de los Datos
1.	Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario y fecha de ingreso. Se requiere implementar algunos pasos de aseguramiento de la calidad de los datos, como la verificación de valores faltantes y la validación de formatos de datos.

-	Se requiere:
1.	Identificar y contar los valores faltantes en cada columna.
2.	Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos.
3.	Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

In [ ]:
import pandas as pd
import numpy as np

Trabajadores = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
    'Edad': [28, 34, None, 45, 38, 34],
    'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']})

print("Valores faltantes por columna:")
print(Trabajadores.isnull().sum())

Valores faltantes por columna:
Nombre           0
Edad             1
Salario          0
Fecha Ingreso    0
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

Trabajadores = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
    'Edad': [28, 34, None, 45, 38, 34],
    'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']})

def es_numerico(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

Trabajadores['Salario Valido'] = Trabajadores['Salario'].apply(es_numerico)

print("\n¿Los valores de la columna 'Salario' son numéricos?")
print(Trabajadores[['Salario', 'Salario Valido']])

¿Los valores de la columna 'Salario' son numéricos?
     Salario  Salario Valido
0       3000            True
1       4000            True
2  cinco mil           False
3       4500            True
4       4000            True
5       5000            True

In [ ]:
import pandas as pd
import numpy as np

Trabajadores = pd.DataFrame({
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
    'Edad': [28, 34, None, 45, 38, 34],
    'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']})

Trabajadores['Fecha Ingreso Estándar'] = pd.to_datetime(Trabajadores['Fecha Ingreso'], errors='coerce')

print("\nTrabajadores estandarizados:")
print(Trabajadores)

Trabajadores estandarizados:
  Nombre  Edad    Salario Fecha Ingreso Fecha Ingreso Estándar
0   Juan  28.0       3000    2021-01-15             2021-01-15
1    Ana  34.0       4000    2020/03/12                    NaT
2  Pedro   NaN  cinco mil    2022-07-01             2022-07-01
3  María  45.0       4500    2021/12/01                    NaT
4   Luis  38.0       4000    2021-05-20             2021-05-20
5    Ana  34.0       5000    2020-03-12             2020-03-12